$common-bg: #BFFFFF;
$common-color: #2e4b4b;
$common-border-color: #009999;

// inputs
$common-input-bg: #80FFFF;
$common-input-border: black;
$common-input-bg-disabled: #006B6B;
$common-input-color-disabled: white;
